@{
    Layout = null;
}

<div id="afuera" class="menu_horizontal">
    <a id="contactos">Contactos</a>
    <a id="eventos">Eventos</a>
    <a id="salir">Salir</a>
</div>

<div id="rendersection"></div>
<div id="dialogo"></div>
<div id="dialogo1"></div>